/* FONTS */

/* Regular Weight */
@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/static/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium Weight */
@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/static/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Bold Weight */
@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/static/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  /* COLORS */
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-700: hsl(3, 77%, 44%);
  --red-500: hsl(3, 71%, 56%);
  --red-400: hsl(3, 86%, 64%);

  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eefbf9 100%);
  --dark-gradient: linear-gradient(180deg, #04091b 0%, #091540 100%);

  /* FONT-SIZE */
  --fs-lg: 2.125rem;
  --fs-md: 1.25rem;
  --fs-sm: 1rem;

  /* LINE-HEIGHT */
  --lh-lg: 1.4;
  --lh-md: 1.2;
  --lh-sm: 1;

  /* LETTER-SPACING */
  --ls-xl: -0.0625em;
  --ls-lg: -0.03125em;
  --ls-md: -0.01875em;
  --ls-sm: -0.0125em;
}

/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  line-height: 1.5;
}

/* Remove default margins */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Smooth scroll */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

button {
  cursor: pointer;
}

/* BASE STYLES */

body {
  font-family: "Noto Sans", sans-serif;
  background-color: aliceblue;
}

header {
  padding-block: clamp(20px, 5vw, 40px);
  padding-inline: clamp(16px, 3vw, 32px);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  background-color: white;
  border-radius: 12px;
  padding-block: clamp(8px, 1vw + 4px, 12px);
  padding-inline: clamp(12px, 1.5vw + 6px, 16px);
}

main {
  padding-inline: clamp(16px, 3vw, 32px);
}

.extensions-header {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Tablet Breakpoint (768px) */
@media (min-width: 450px) {
  .extensions-header {
    justify-content: space-between;
  }
}

/* Desktop/Large Screen Breakpoint (1200px) */
/* @media (min-width: 1200px) {

} */

.btn-theme {
  background: lightgray;
  border: none;
  padding: 0.91em;
  border-radius: 12px;
  display: grid;
  place-items: center;
}
